.mock-provider-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  border: 2px solid #7c3aed;
  border-radius: 10px;
  margin: 0px 16px;
  gap: 12px;
}

.mock-email-input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
}

.mock-password-input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
}
